body {
  padding: 0;
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;

  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: dimgray;
}

legend {
  display: block;
  padding: 1rem;

  background-color: rgb(255, 255, 255);
  border: black solid 0.5px;
  font-size: 30px;
  
}

fieldset {
  border: black solid 0.5px;
  background-color: rgba(255, 255, 255, 0.605);

  font-size: 20px;

  display: flex;
  justify-content: center;
  margin: 5rem;
  padding: 2rem;
  height: 5rem;
}

label {
  margin: 0.5rem;
}